<% if post.errors.any? %>
  <div>
    <p>An error occured while attempting to create your Post.</p>
    <ul>
      <% post.errors.full_messageseach do |message| %>
        <li>message</li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="post-create-form">
  <div id="div-forms">
    <%= form_for(post) do |f| %>
      <div class="modal-body">
        <div class="field">
          <%= f.text_field :title, class: "form-control", placeholder: "Title", required: "" %>
        </div>
        <br />
        <div class="field">
          <%= f.text_area :body, rows: 20, class: "form-control", placeholder: "", required: "" %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-success btn-lg btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
