<div class='post'>
  <div class='post-content'>
    <div class='post-title'><%= link_to(post.title, post_path(post.uuid)) %></div>
    <div class='post-summary'>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text of the printing......</p>
    </div>
    <div class='post-meta'>
      <span class='author'>by <%= post.author_display_name %> | </span><span class='date'>May 17</span>
    </div>
  </div>
</div>