<div class="content-header"></div>
<div id="posts">
  <% if @posts.count > 0 %>
    <% @posts.each do |p| %>
      <%= render "post", post: p %>
    <% end %>
  <% else  %>
    <div class='post'>
      <div class='post-content'>
        <div class='post-title' style='text-align: center;'>No Posts Available</div>
      </div>
    </div>
  <% end %>
</div>
<div class="content-footer"></div>
<%= paginate @posts %>
